*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}
.page{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dictionary{
    height: 100%;
}

.head{
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10vh;
}
.head h1{
    color: black;
    margin: 3vh;
}
.word{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid black;
}
.phonetics{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid black;
}
.synonyms{
    display: flex;
    align-items: start;
    justify-content: space-between;
    border-bottom: 1px solid black;
}
.main{
    border: 1px solid black;
    display: none;
    margin: 2vh;
}
.definitions{
    padding-left: 27px;
    border-bottom: 1px solid black;
}
.defhead{
    border-bottom: 1px solid black;
    background-color: black;
    color: white;
}
.syan{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    background-color: black;
    color: white;
}
.synonym{
    padding-left: 27px;
}
.antonyms{
    padding-left: 27px;
}
.error{
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}
.error p {
    text-align: center;
}
.ex{
    padding-left: 27px;
}
.exam{
    background-color: black;
    color: white;
}    
.load{
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}
.loader {
    width: 48px;
    height: 48px;
    display: block;
    margin: 20px auto;
    position: relative;
    border: 3px solid black;
    border-radius: 50%;
    box-sizing: border-box;
    animation: animloader 2s linear infinite;
  }
  .loader::after {
    content: '';  
    box-sizing: border-box;
    width: 6px;
    height: 24px;
    background: black;
    transform: rotate(-45deg);
    position: absolute;
    bottom: -20px;
    left: 46px;
  }
  @keyframes animloader {
    0% {
      transform: translate(-10px, -10px);
    }
    25% {
      transform: translate(-10px, 10px);
    }
    50% {
      transform: translate(10px, 10px);
    }
    75% {
      transform: translate(10px, -10px);
    }
    100% {
      transform: translate(-10px, -10px);
    }
  }
input{
    height: 6vh;
    width: 50vh;
    border: 1px solid black;
    padding-left: 3vh;
    font-size: 3vh;
}
input::placeholder{
    font-size: 3vh;
}
button{
    height: 6vh;
    width: 8vh;
    background-color: black;
    border: 1px solid black;
}
button i {
    color: white;
    font-size: 3vh;
}
.search{
    display: flex;
}
@media screen and (max-width: 480px) {
    input{
        height: 4vh;
        width: 30vh;
        border: 1px solid black;
        padding-left: 2vh;
        font-size: 2vh;
    }
    input::placeholder{
        font-size: 2vh;
    }
    button{
        height: 4vh;
        width: 5vh;
        background-color: black;
        border: 1px solid black;
    }
    button i {
        color: white;
        font-size: 1.8vh;
    }
    .search{
        display: flex;
    }
    .head{
        margin-bottom: 5vh;
    }
  }